[profile]
input_jar = "ref/runescape.jar"
output_jar = "ref/runescape-deob.jar"
output_dir = "src/main/java"

class_deob = false
class_remap = false
class_decompile = true
java_cleanup = false

[profile.zwyz]
full = true
math = true
